<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv=""content-type" content = "text/html; charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorign="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">
    

    <div role ="main" class="box">
        <div class="flex">
            <div class="left">
                <header>
                    <h1 class="display-4"><b><%= title %></b></h1>
                    
                </header>
            </div>

            <div class="center">
                <form  method="get"  action="../select">

                    <input type="submit" value="slect services" class="btn btn-primary">
                </form>
            </div>

            <div class="right">
                <form  method="get"  action="../users/signout">
                    <input type="submit" value="signout" class="btn btn-primary">
                </form>
            </div>
            
        </div>
        
        <p>全<%= len%>件</p>
        <table class="table"  >
            <tr>
                
                <th>memo</th>
                <th>更新日</th>
                
                <th></th>
                <th></th>
            </tr>
            
            <% for(var i in content) { %>
                
            <tr>
                <% var obj = content[i]; %>
                
                <td><%= obj.memo %></td>
                <td><%= obj.update_date %></td>
                <td><u><a href="memo/edit?memoid=<%= obj.memo_id %>" >edit</a></u></td>
                <td><u><a href="memo/delete?memoid=<%= obj.memo_id %>" >delete</a></u></td>
            </tr>
            
            <% } %>
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><u><a href="memo/add" >memo add</a></u></td>
            </tr>
            
        </table>
        
        <br>
        <form  method="POST"  action="memo/search">

            <div class="form-group">
                <label for="search"><B>search word</B></label>
                <input type="text" name="search" id="search" class="form-control"  maxlength="255">
            </div>
            <input type="submit" value="memo search" class="btn btn-primary"value="<%= text %>">
        </form>
        <br>
        
        
        
    </div>
</body>
</html>