<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="container">
    

    <div role="main" class="box">
        <header>
            <h1 class="display-4"><b><%= title %></b></h1>
        </header>
        <p><%= content %></p>
        <form method="post" action="/record/delete">
            
            <input type="hidden" name="record_id" value="<%= db.record_id %>" readonly>
            <div class="form-group">
                <label for="record_num">レコードナンバー</label>
                <input type="text" name="record_num" id="record_num" class="form-control" value="<%= db.record_num %>" readonly>
            </div>
            <div class="form-group">
                <label for="title">タイトル</label>
                <input type="text" name="title" id="title" class="form-control" value="<%= db.title %>" readonly>
            </div>
            <div class="form-group">
                <label for="artist">アーティスト</label>
                <input type="text" name="artist" id="artist" class="form-control" value="<%= db.artist %>" readonly>
            </div>
            <div class="form-group">
                <label for="numOfTrack">トラック数</label>
                <input type="number" name="numOfTrack" id="numOfTrack" class="form-control" value="<%= db.numOfTrack %>"  readonly>
            </div>
            <div class="form-group">
                <label for="release_date">発売日</label>
                <input type="text" name="release_date" id="release_date" class="form-control" value="<%= db.release_date %>" readonly>
            </div>

            <div class="form-group">
                <label for="site">購入媒体・サイト</label>
                <input type="text" name="site" id="site" class="form-control" value="<%= db.site %>" readonly>
            </div>

            <input type="submit" value="record delete" class="btn btn-primary">
        </form>
        <br>
        <form  method="GET"  action="../record">
            
            <input type="submit" value="record index" class="btn btn-primary">
        </form>
    </div>
    
</body>
</html>