<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="container">
      

    <div role="main" class="box">
        <header>
            <h1><b><%=title%></b></h1>
        </header>  
        <br>
        <p><%- content %></p>
        <form method="post" action="/delete">
            <div class="form-group">
                <label for="name">user name</label>
                <input type="text" name="name" id="name" value="<%= form.name%>" class="form-control" maxlength="255">
                <p>※削除するアカウントのuser nameを入力してください</p>
            </div>

            <div class="form-group">
                <label for="name">mail</label>
                <input type="text" name="mail" id="mail" value="<%= form.mail%>" class="form-control" maxlength="255">
                <p>※削除するアカウントのmailを入力してください</p>
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" id="password" value="<%= form.password%>" class="form-control" maxlength="255">
                <p>※削除するアカウントのpasswordを入力してください</p>
            </div>
            
            <input type="submit" value="delete my account" class="btn btn-primary">
            
        </form>
        <br>
        <form method="get" action="/select" >
                    
            <input type="submit" value="select services" class="btn btn-primary">
        </form>
    </div>

    
        
    
</body>
</html>